langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-text-splitters==0.3.8

sentence-transformers==4.1.0
transformers==4.51.3
accelerate==1.6.0

faiss-cpu==1.11.0
rank-bm25==0.2.2

pypdf==5.5.0
numpy==2.2.5
pandas
torch==2.7.0

ragas==0.1.24
scikit-learn==1.6.1
